doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Best brand for sport and fitness clothing for men and women of every size")
        
        link(rel="stylesheet", href="/style.css")
        link(href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet')

        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
        title Lorem Ipsum
    body
        nav
            div(class="logo")
                div(class="ball-1")
                div(class="ball-2")
                div(class="ball-3")
                p Lorem Ipsum

            ol(class="row nav-links")
                li
                    a(href="") First link
                li
                    a(href="") Second link
                li
                    a(href="") Third link
                li
                    a(href="") Fourth link

        #{content} 
        
        footer
            ol(class="row services")
                li
                    i(class="badge bx bxs-box")
                    h3 Fast shipping
                    p fast shipping wherever you are
                li
                    i(class="badge bx bxs-medal")
                    h3 Warranty
                    p 1 year warranty for all of pur products
                li
                    i(class="badge bx bxs-shield")
                    h3 Security
                    p secure payment and delivery

            div(class="link-contact")
                div(class="row-links-wrapper")
                    div(class="row-links")
                        h3 About us
                        ol(class="footer-links")
                            li
                                a(href="") About
                            li
                                a(href="") Stores
                            li
                                a(href="") Terms & conditions
                            li
                                a(href="") Privacy

                div(class="row-links-wrapper")
                    div(class="row-links")
                        h3 Services
                        ol(class="footer-links")
                            li
                                a(href="") Warranty 
                            li
                                a(href="") Apointments
                            li
                                a(href="") Delivery
                            li
                                a(href="") FAQ

                div(class="row-links-wrapper")
                    div(class="row-links")
                        h3 Follow us
                        ol(class="footer-links")
                            li
                                a(href="") Facebook
                            li
                                a(href="") Instagram
                            li
                                a(href="") Twitter
                
                div(class='newsletter')
                    h3 Join our newsletter
                    p Join our newsletter to stay up to date on the latest products
                    form(class="input-container")
                        input(type="email" class="input-field" placeholder="Enter your email here" required)
                        button(class="input-send")
                            i(class="bx bxs-send")
        script(src="bx bxs-send") 